<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body class="container bg-secondary">
    <div class="container bg-light">
      <h1 class="display-1 text-center text-black"><%=firstName %> <%=lastName %></h1>
      <h3 class="display-4 text-center text-black"><%=address %></h3>
    </div>
  </body>
</html>